# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Binaries
bin/
dist/
lib/

# Editors
*.swp
.idea/
.vs/
.vscode/
.DS_Store

# Dependency directories
node_modules/

# Builds
build/

# Coverage of tests
coverage/

# root
.env

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*