.title {
  color: #121417;

  /* stylelint-disable-next-line*/
  &:global(.MuiTypography-root) {
    margin-bottom: 16px;
  }
}

.contentWrapper {
  align-items: center;
  display: flex;
  margin-bottom: 32px;
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
