@use 'styles/mixins';

.title {
  @include mixins.page-title;
}

.contentWrapper {
  align-items: center;
  display: flex;
  margin-bottom: 32px;
}

.paginationWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchField {
  margin-bottom: 32px;
  width: 100%;

  /* stylelint-disable-next-line*/
  &:global(.MuiFormControl-root) {
    margin-bottom: 32px;
  }
}
