.card {
  border-radius: 4px;
  height: 175px;
  width: 175px;
}

.cardActionWrapper {
  height: 100%;
  width: 100%;
}

.content {
  align-items: center;
  background-color: #b7abab;
  display: flex;
  height: 100%;
  justify-content: center;
}

.text {
  text-align: center;
}
