@use 'styles/variables';

.wrapper {
  align-items: center;
  border-bottom: 1px solid #e5e8eb;
  display: flex;
  padding: 20px 40px;
}

.link {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.icon {
  margin-right: 6px;
}

.text {
  color: variables.$black-dark;
}
